<div class="row login-wrapper">
  <div class="login-box whiteBg">

    <div class="panel-heading">
      <h1 class="login-text text-center" translate>view.login.text</h1>
      <hr>
    </div>

    <div class="panel-body">
      <form class="form-vertical">

        <!--User-->
        <jb-input [(ngModel)]="username" name="user"
                  jbRequired="true"
                  jbPlaceholder="view.common.username"
                  (jbOnEnter)="logIn($event)"
                  jbAutoFocus="true">
        </jb-input>

        <!--Password-->
        <jb-input class="marT15" name="pass"
                  [(ngModel)]="password"
                  jbPlaceholder="view.common.password"
                  jbRequired="true"
                  jbErrorPos="none"
                  (jbOnEnter)="logIn($event)">
        </jb-input>

        <!--Log in button-->
        <jb-btn class="full-width"
                jbText="view.login.log_in_btn"
                jbType="update"
                [jbDisabled]="(!username || !password) && !forceBtnEnabled"
                [jbAsyncPromise]="loggingPromise"
                (jbClick)="logIn($event)">
        </jb-btn>

      </form>


      <div class="row marT15">

        <!--Forgot password link-->
        <div class="col-12 text-center col-sm-5 text-sm-left padT10">
          <a class="forgot-pw" href="#">
            <span class="icon-lock"></span>
            <span class="marL5" translate>view.login.reset_forgotten_password</span>
          </a>
        </div>

        <!--Language selector-->
        <!--<jb-language-selector class="col-12 col-sm-7 language-selector"></jb-language-selector>-->

      </div>

    </div>
  </div>
</div>
