@import 'variables';

.board {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  .square {
    width: 12.5%;
    height: 12.5%;
    display: inline-block;
    &.white { background: white; }
    &.black { background: darken($primary_color, 10%); }
    .selector{
      border: 3px solid transparent;
      height: 100%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.selected {
        border: 3px solid rgba($secondary_color, 1);
        background: rgba($secondary_color, 0.6);
      }
      &.is-selectable:hover {
        border: 3px solid rgba($secondary_color, 1);
        background: rgba($secondary_color, 0.3);
      }
      .move-mark {
        position: absolute;
        top: 32%;
        left: 32%;
        right: 32%;
        bottom: 32%;
        border-radius: 100%;
        background: rgba(gray, 0.2);
        z-index: 1;
        //background: rgba($primary_color, 0.4);
        //background: rgba($secondary_color, 0.4);
        //border: 8px solid rgba($primary_color, 0.6);

        &.has-piece {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: -1px;
          border-radius: 3px;
          //border: 4px dashed lighten($primary_color, 5%);
          border: 4px dashed rgba(gray, 0.4);
          background: transparent;
        }

      }
    }

    &.black .selector .move-mark {
      background: rgba(white, 0.2);
      &.has-piece {
        //border: 4px dashed lighten($primary_color, 5%);
        border: 4px dashed rgba(white, 0.6);
        background: transparent;
      }
    }
  }
}
