<h1>
  <span translate>view.common.game</span>:
  <span *ngIf="game">{{ game.playerName1 + ' vs ' + game.playerName2 }}</span>
</h1>

<div *ngIf="game">
  <div class="board">
    <div class="square" *ngFor="let pos of squares" [ngClass]="store.squareColor(pos)">
      <!--{{pos}} - {{store.square2D(pos) | json}}={{store.getPiece(game.board[pos]) | json }}-->
      <div class="selector"
           [class.is-selectable]="isSelectable(pos)"
           [class.selected]="selPos === pos"
           (click)="selectSquare(pos)">
        <span *ngIf="phase === 1 && validMoves.includes(pos)">X</span>
        <img *ngIf="game.board[pos] > 0" [src]="store.getPiece(game.board[pos]).img">
      </div>
    </div>
  </div>
</div>

<p>You play with {{yourColor}}</p>
<p *ngIf="game?.status === yourColor">YOU PLAY</p>
<p *ngIf="game?.status !== yourColor">Waiting for the opponent to move</p>

<jb-btn jbText="RESET" jbType="add" (jbClick)="resetGame()"></jb-btn>
<jb-btn jbText="UNDO" jbType="back" (jbClick)="revertLast()"></jb-btn>

<p>History:</p>
<div *ngIf="game?.history" style="font-family: monospace">
  <div *ngFor="let move of game.history; let ind = index">
    {{ind}} - posOri={{move.posOri}}, posDes={{move.posDes}}
    <span *ngIf="move.takes">, TAKES={{move.takes}}</span>
  </div>
</div>
